p.contactInfo {
	color: white;
	width: 100%;
	text-align: center;
	font-size: 30px;
}
section h3.section-subheading {
	margin-bottom: 20px !important;
}
.team-member h4 {
	margin-top: 15px !important;
	margin-bottom: 10px !important;
}
.team-member {
	margin-bottom: 30px !important;
}
section#portfolio,section#about,.dontshow {
	display: none !important;
}
section#contact {
  background-color: #222;
}
footer {
  background: #465A65;
  color: white;
}
