html {
	background: black;
	padding: 40px 15px;
	font-family: sans-serif;
}

a, p, li {
	color: white !important;
	font-size: 20px;
}

li {
	font-size: 14px;
}

p#name {
	font-size: 26px;
	font-weight: bold;
}

p#name, p#role {
	text-align: center;
}

p.hide-text {
	color: transparent !important;
}

div#card {
	border: 1px solid white;
	padding: 30px;
	max-width: 750px;
	margin: auto;
}

div.col {
	width: 50%;
	float: left;
}

div.right p {
	text-align: right;
}

div:after {
	content: "";
	display: table;
	clear: both;
}

